<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <div style="background-color: beige">
  {{ title }}
</div>

<div>typed first name = {{ firstNameField }}</div> -->

<div class="header1">
  <button class="tile" (click)="handleRecentAlbum()">Get recent Albums</button>
</div>

<div class="mahi_holder">
  <div class="row bg_3">
    <div class="col-3 input-effect">
      <input
        (input)="onChange($event)"
        class="effect-20"
        type="text"
        placeholder=""
      />
      <label id="fnamelabel">{{ firstName }}</label>
      <span class="focus-border">
        <i></i>
      </span>
    </div>

    <div class="col-3 input-effect">
      <button (click)="onClick($event)">Click to make api request</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="wrapper">
    <img src="{{ albumImageUrl }}" height="300px" width="100%" />
    <!-- <div class="banner-image"></div> -->
    <h1>{{ title }}</h1>
    <p>
      artist name : {{ artistName }} <br />
      release date : {{ release_date }} <br />
      total tracks : {{ total_tracks }} <br />
    </p>
  </div>
  <div class="button-wrapper">
    <button class="btn outline">More DETAILS</button>
    <button class="btn fill">Play NOW</button>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
